-var lockStatus = pollId ? "locked" : ""
-var options = pollOptions || ['','']
-var title = pollTitle || ''
-var desc = pollDesc || ''
-var heading = pollTitle || 'New Poll'
-var save = '/save' + (pollId===undefined ? '' : '/'+pollId)
doctype html
html(lang="en")
    head
        title Edit Poll
        link(rel="stylesheet" href="/client/css/main.css" type="text/css")
    header
        div.logo
            img.logo-icon(src="/client/img/SirVeyLogo.png")
        div.signed-in.hide
            p Welcome, #[span#profile-display]!
            a.menu(href="/edit") New Poll 
            p |
            a.menu(href="/polls") My Polls
            p |
            a.menu(href="/logout") Logout
        div.not-signed-in
            a.login(href="/login") LOGIN
    body
        .container
            h1.header#poll-title= heading
            form(action=save method="POST")
                label(for="title") Title
                br
                input(type="text" class=lockStatus name="title" autocomplete="off" value=title)
                br
                label(for="desc") Description
                br
                input(type="textarea" class=lockStatus name="desc" autocomplete="off" value=desc)
                br
                label(for="options") Options
                br
                div#opts
                    each val,index in options
                        input(type="text" class="opt "+lockStatus name="opt"+index autocomplete="off" value=val["val"])
                        br
                .add-opt(tabindex=0) +
                input.submit(type="submit" value="SAVE")
        script(type="text/javascript" src="/common/ajax-functions.js")
        script(type="text/javascript" src="/controllers/userController.client.js")
        script(type="text/javascript" src="/client/js/jquery.min.js")
        script(type="text/javascript" src="/client/js/pollEditFunctions.js")

        //script(type="text/javascript" src="controllers/pollController.js")